@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Courier, monospace;
    display: flex;
    flex-direction: column;
    /* padding: 1.5rem 15vw 1.5rem; */
}

a {
    text-decoration: none;
    color: lightgray;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 0.5rem;
    padding: 1rem;
}

.header-links {
    list-style-type: none;
    display: flex;
    font-size: 1rem;
    gap: 1rem;
    color: #E5E7EB;
}

.header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem calc(15vw - 5vh) 3rem;
    border: none;
}

.header-logo {
    color: #F9FAF8;
    font-size: 1.5rem;
    font-weight: bold;
}

.hero {
    background-color: #1F2937;
    background-size: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5rem calc(15vw - 5vh) 3rem;
    border: none;
    gap: 4rem;
}

.hero-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}


.hero-image {
    display: flex;
    background: url(http://goo.gl/vyAs27) no-repeat scroll 0 0;
    /* min-width: 100px; */
    min-width: 5rem;
    flex: 1;
    align-self: center;
}

.hero-text {
    font-size: 2.6rem;
    font-weight: 700;
    color: #F9FAF8;
    padding-right: 1rem;
    line-height: 3rem;
}

.hero-subtext {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #E5E7EB;
    padding: 0 1vw 1vh 0;
    
}

.hero-button {
    border-color: #3882F6;
    border-style: solid;
    /* flex: 0 0 0; */
    width: 50%;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem calc(15vw - 5vh) 3rem;
}

.info-title {
    font-size: 2rem;
    font-weight: 700;
    color: #1F2937;
    padding-bottom: 1.5rem;
}

.info-wrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    /* width: 220px; */
}

.info-descriptor {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 20%;
	/* font-size: clamp(0.5rem, 5vw, 1rem); */
}

.info-descriptor img {
    /* height: 100px; */
    width: fit-content;
}

.info-text {
    width: 20ch;
}

.quote {
    background-color: #E5E7EB;
    padding: 1.5rem calc(15vw - 5vh) 3rem;
}

.quote-text {
    font-size: 2.25rem;
    font-style: italic;
    font-weight: 100;
    padding-bottom: 1.5rem;
}

.quote-subtext {
    text-align: right;
}

.call-to-action {
    padding: 1.5rem calc(15vw - 5vh) 3rem;
}


.cta-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    padding: 2rem 2rem;
    border-radius: 1.5rem;
}

.cta-text-container {
    display: flex;
    flex-direction: column;
}

.cta-text {
    color:#F9FAF8;
    font-size: 1.25rem;
}

.cta-subtext {
    color: #E5E7EB;
    font-weight: 300;
    padding-right: 1rem;
}

.cta-button {
    border-color: white;
    border-style: solid;
    border-width: 0.125rem;
    flex-shrink: 0;

}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    padding: 1.5rem;
}

/* MEDIA QUERIES */
@media (max-width: 400px) {
    * {
        font-size: 10rem;
    }
  }